<div class="p-4 border-4 border-blue-500 rounded">
    <div class="grid grid-cols-2 gap-4">

        <form (ngSubmit)="guardarPizza()" [formGroup]="formGroup">
            <div>
                <label for="name" class="block">Nombre:</label>
                <input id="name" type="text" formControlName="nombre" class="w-full border border-gray-300 rounded p-2">
            </div>
            <div>
                <label for="address" class="block">Dirección:</label>
                <input id="address" type="text" formControlName="direccion"
                    class="w-full border border-gray-300 rounded p-2">
            </div>
            <div>
                <label for="phone" class="block">Teléfono:</label>
                <input id="phone" type="text" formControlName="tel" class="w-full border border-gray-300 rounded p-2">
            </div>



            <div class="mb-4">
                <p class="font-bold">Tamaño Pizza</p>
                <div>
                    <label><input type="radio" name="tamanio" formControlName="tamanio" value="Chica"> Chica $40</label>
                </div>
                <div>
                    <label><input type="radio" name="tamanio" formControlName="tamanio" value="Mediana"> Mediana $80</label>
                </div>
                <div>
                    <label><input type="radio" name="tamanio" formControlName="tamanio" value="Grande"> Grande  $120</label>
                </div>
            </div>
            <div class="mb-4">
                <p class="font-bold">Ingredientes</p>
                <div>
                    <label><input type="checkbox" name="ingrediente1" formControlName="ingrediente1" value="Jamon">
                        Jamón
                        $10</label>
                </div>
                <div>
                    <label><input type="checkbox" name="ingrediente2" formControlName="ingrediente2" value="Piña" >
                        Piña
                        $10</label>
                </div>
                <div>
                    <label><input type="checkbox" name="ingrediente3" formControlName="ingrediente3" value="Champiñones"
                            >
                        Champiñones $10</label>
                </div>
                <div>
                    <label for="cantidad" class="block">Num. de Pizzas:</label>
                    <input id="cantidad" type="number" formControlName="cantidad"
                        class="w-full border border-gray-300 rounded p-2">
                </div>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Agregar</button>
        </form>

    </div>